body{
    background-color: whitesmoke;

    
}



a{
    font-size:larger;
    font-style: italic;
    font-weight:bold;
    color: whitesmoke;

}

.container{
    display: grid;

}

.help-header{
    text-align: center;
    font-size: 35px;
}

h1{
    font-size:50px;
}
